body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  padding: 15px;
  margin: 10px;
  background-color: aqua;
  display: flex;
  border-radius: 20px;
  border-style: initial;
  text-decoration: double;
}
:link {
  color: aliceblue;
  text-decoration: none;
  word-spacing: 10px;
}
